*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;

}
body{
  background: linear-gradient(rgb(19, 19, 81), rgb(42, 40, 40));
  /* font-family: 'Press Start 2P', cursive; */
  overflow-x: hidden;
 }
img{
  mix-blend-mode:lighten;
}

/* navbar  */

.navbar-nav li{
  padding: 0 30px;
}
.navbar{
  background: linear-gradient(#22048593, #0554b6);
}


/* ................about................... */
.ABTIMG{
  border: 2px solid #17a2b8;
  border-radius: 50% 50% 50% 50%;
  width:70%;
  height: 50%;
  object-fit: fill;
}



/* ........................FOOTER........................ */
a{
  text-decoration: none;
}